@import "config";

* {
  box-sizing: border-box;
}

html,
body,
#app,
.shop {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: $quinary-color;
  color: $secondary-color;
  text-align: center;
  font-family: $font;
}

.shop {
  border: 1px solid black;
}

#shop-header {
  height: 15%;
  margin: 0;
  padding-top: 30px;
  font-size: 4em;
  position: relative;
}

#cart-button {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 10%;
  top: 30%;
}

.cat-box {
  display: inline-block;
  border: 2px solid $secondary-color;
  border-radius: 5%;
  background-color: $tertiary-color;
  padding: 5%;
  margin: 1%;
  width: 30%;
  height: 30%;
  font-size: 2em;
  margin-top: 3%;
}

.cat-bar {
  display: inline-block;
  border: 2px solid $secondary-color;
  border-radius: 3%;
  background-color: $tertiary-color;
  padding: 0.5%;
  margin: 0.5%;
  width: 13%;
  height: 60%;
}

.page {
  height: 85%;
  border: 1px solid red;
}

.navbar {
  height: 15%;
  border: 1px solid red;
  // line-height: 7.5%;
}

.product {
  border: 1px solid green;
  display: inline-block;
  padding: 2%;
  height: 100%;
  width: 40%;
  // float: left;
  vertical-align: top;
}

.product-list:nth-child(2n + 3) {
  // clear: both;
}

.product-list-header,
.cart-list-header {
  border: 1px solid orange;
  height: 85%;
}

.product-list {
  overflow-y: scroll;
  height: 85%;
}

.category-header {
  height: 15%;
}

.inside-shop {
  border: 1px solid purple;
  height: 85%;
}
